.env
venv
dev.sh

# Python bytecode & caches
__pycache__/
*.py[cod]

# Virtual environments (alternative names)
.venv/

# Database binaries
*.db
*.sqlite

# IDE configs
.vscode/
.idea/